{% extends 'base.html.twig' %}

{% block title %}Hello PostsController!{% endblock %}

{% block body %}

    <script>
        const deletePost = async (id) => {
            try {
                const response = await fetch(`/delete/${id}`, {
                    method: 'POST',
                    headers: {
                        'Content-Type': 'application/json',
                    }
                })
                console.log(response.json())
            } catch(error) {
                console.error(error)
            }
        }


    </script>
    {% block content %}
        <div id="posts-container">
            {% for post in posts %}
                <article>
                    <h2>{{ post.title }}</h2>
                    <p>By {{ post.name }}</p>
                    <p>{{ post.body }}</p>
                </article>
                <button onclick={deletePost({{post.id}})}>Delete</button>
            {% endfor %}
        </div>
    {% endblock %}
{% endblock %}
